apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: japaninside
spec:
  replicas: 3
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: luucas71/japaninside-frontend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 5173
          env:
            - name: VITE_API_URL
              value: http://backend:8000

