apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: japaninside
spec:
  type: LoadBalancer
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 5173
      targetPort: 5173

