name: CI Frontend
on: [push, pull_request]

jobs:
  frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm ci

      # Lint & format
      - run: npm run lint --if-present
      - run: npm run format:check || true

      # Sécurité
      - run: npm audit --audit-level=high

      # Build
      - run: npm run build

      # Tests Jest modernes avec coverage
      - run: npm test -- --ci --coverage --runInBand
